Flask
Flask-SQLAlchemy
flask-login
werkzeug
rembg
Pillow
onnxruntime
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos