{% extends "base.html" %}
{% block content %}

<div class="dashboard-hero">
  <div class="hero-banner">
    </div>

   <div class="position-absolute start-50 translate-middle-x" style="top: 200px;">
        <div class="avatar-wrapper">
            <img src="{{ url_for('static', filename='uploads/avatar.png') }}" alt="Avatar">
        </div>
    </div>

<div class="text-center" style="margin-top: 90px; margin-bottom: 40px;">
    <h4 class="mb-1">
        Bună, {{ user.first_name }}{% if user.last_name %} {{ user.last_name }}{% endif %}
    </h4>

    {% if quote %}
        <em class="text-muted">“{{ quote.text }}”</em>
        {% if quote.author %}
            <div class="small text-muted mt-1">— {{ quote.author }}</div>
        {% endif %}
    {% endif %}
</div>
</div>

<div class="d-flex justify-content-center mb-4">
    <a href="{{ url_for('minigame_render') }}" class="btn">
        Beers catcher
    </a>
</div>

<div class="d-flex justify-content-center mb-5">
    <div class="border rounded px-4 py-3 text-center bg-white" style="min-width:320px;">

        <div class="d-flex justify-content-center align-items-center gap-3 mb-2">
            <div style="font-size:42px;">
                {% if weather %}
                    {% if weather.is_rainy %} 🌧️
                    {% elif weather.is_snowy %} ❄️
                    {% else %} ☀️
                    {% endif %}
                {% else %}
                    ⛅
                {% endif %}
            </div>

            {% if weather %}
            <div>
                <div class="fw-semibold">
                    {{ weather.temperature }}°C · {{ weather.city }}
                </div>
                <div class="text-muted small">
                    {{ weather.season }} · Vânt {{ weather.wind_speed }} m/s
                </div>
            </div>
            {% endif %}
        </div>

        {% if weather and weather.is_rainy %}
            <div class="text-warning small fw-semibold mb-2">
                Ia o umbrelă ☔
            </div>
        {% endif %}

        <a href="{{ url_for('add_item') }}"
            class="btn">
            + Adaugă haină
        </a>
        <a href="{{ url_for('showroom') }}"
            class="btn">
            Showroom
        </a>

    </div>
</div>

<ul class="nav nav-pills justify-content-center mb-5 gap-2">
    <li>
        <a class="btn-2 {% if tab == 'closet' %}active{% endif %}"
            href="{{ url_for('dashboard', tab='closet') }}">
            Closet
        </a>
    </li>
    <li>
        <a class="btn-2 {% if tab == 'outfits' %}active{% endif %}"
            href="{{ url_for('dashboard', tab='outfits') }}">
            Outfits
        </a>
    </li>
    <li>
        <a class="btn-2 {% if tab == 'loved' %}active{% endif %}"
            href="{{ url_for('dashboard', tab='loved') }}">
            Loved
        </a>
    </li>
</ul>

<div class="container">

{% if tab in ['closet', 'loved'] %}
    {% if clothes %}
    <div class="row g-4">
        {% for item in clothes %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card h-100 position-relative shadow-sm">

                <form method="POST"
                    action="{{ url_for('toggle_favorite', item_id=item.id, tab=tab) }}"
                    class="position-absolute top-0 start-0 m-2" style="z-index: 5;">
                    <button type="submit"
                            class=" btn-like">
                        {% if item.is_favorite %}
                            ❤️
                        {% else %}
                            🤍
                        {% endif %}
                    </button>
                </form>

                <form method="POST"
                    action="{{ url_for('delete_item', item_id=item.id, tab=tab) }}"
                    class="position-absolute top-0 end-0 m-2" style="z-index: 5;">
                    <button type="submit"
                            class="btn-delete"
                            onclick="return confirm('Ești sigur că vrei să ștergi articolul {{ item.subcategory }} ({{ item.color }})?');"
                            style="font-size: 0.8rem; line-height: 1;">
                        ✖️
                    </button>
                </form>

                {% if item.image_filename %}
                    <div class="card-img-wrapper">
                        <img src="{{ url_for('static', filename='uploads/processed/' + item.image_filename) }}"
                             class="clothing-img">
                    </div>
                {% else %}
                    <div class="d-flex align-items-center justify-content-center bg-light"
                                 style="height:180px;font-size:48px;">
                    </div>
                {% endif %}

                <div class="card-body">
                    <small class="text-muted text-uppercase">{{ item.category }}</small>
                    <h6 class="mb-1">{{ item.subcategory }}</h6>
                    <div class="small text-muted">
                        {{ item.color }} · {{ item.season }}
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="text-center text-muted py-5">
            {% if tab == 'loved' %}
                Nu ai haine favorite încă.
            {% else %}
                Nu ai haine încă.
            {% endif %}
        </div>
    {% endif %}
{% endif %}

</div>
<div>
    {% if tab == 'outfits' %}
        {% if outfits %}
            <div class="row g-4">
                {% for o in outfits %}
                <div class="col-md-6 col-lg-4">
                    <div class="card p-3 shadow-sm position-relative">
                        <form method="POST"
                            action="{{ url_for('delete_outfit', outfit_id=o.id) }}"
                            class="position-absolute top-0 end-0 m-2"
                            style="z-index: 5;">
                            <button type="submit"
                                    class="btn-delete"
                                    onclick="return confirm('Șterg acest outfit?');"
                                    style="font-size: 0.8rem; line-height: 1;">
                                ✖️
                            </button>
                        </form>
                        <div class="d-flex justify-content-center gap-2 flex-wrap mb-3">

                            {% if o.outerwear %}
                                <img src="{{ url_for('static', filename='uploads/processed/' + o.outerwear.image_filename) }}"
                                    class="clothing-img" style="height:120px;">
                            {% endif %}

                            {% if o.top %}
                                <img src="{{ url_for('static', filename='uploads/processed/' + o.top.image_filename) }}"
                                    class="clothing-img" style="height:120px;">
                            {% endif %}

                            {% if o.bottom %}
                                <img src="{{ url_for('static', filename='uploads/processed/' + o.bottom.image_filename) }}"
                                    class="clothing-img" style="height:120px;">
                            {% endif %}

                            {% if o.shoes %}
                                <img src="{{ url_for('static', filename='uploads/processed/' + o.shoes.image_filename) }}"
                                    class="clothing-img" style="height:120px;">
                            {% endif %}

                            {% if o.accessories %}
                                <img src="{{ url_for('static', filename='uploads/processed/' + o.accessories.image_filename) }}"
                                    class="clothing-img" style="height:120px;">
                            {% endif %}

                        </div>

                        <div class="text-center small text-muted">
                            Salvat pe {{ o.created_at.strftime('%d %b %Y') }}
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center text-muted py-5">
                Nu ai outfituri salvate încă.
            </div>
        {% endif %}
    {% endif %}
</div>
<div style="height: 120px;"></div>
{% endblock %}