{% extends "base.html" %}

{% block content %}
<div class="generator-container">
    <h2 class="mb-5" style="font-weight: 300;">Ținuta ta de astăzi</h2>

    <form method="POST">
        <button type="submit" class="gen-btn">
            ✨ Generează Outfit
        </button>
    </form>

   {% if is_post_request %}
        <div class="outfit-display">
            
            <div class="outfit-item">
                <img src="{{ url_for('static', filename=outfit.outerwear.folder + '/' + outfit.outerwear.filename) }}" alt="Outerwear">
            </div>

            <div class="outfit-item">
                <img src="{{ url_for('static', filename=outfit.top.folder + '/' + outfit.top.filename) }}" alt="Top">
            </div>

            <div class="outfit-item">
                <img src="{{ url_for('static', filename=outfit.bottom.folder + '/' + outfit.bottom.filename) }}" alt="Bottom">
            </div>
            
            <div class="outfit-item">
                <img src="{{ url_for('static', filename=outfit.shoes.folder + '/' + outfit.shoes.filename) }}" alt="Shoes">
            </div>

            <div class="outfit-item">
                <img src="{{ url_for('static', filename=outfit.accessories.folder + '/' + outfit.accessories.filename) }}" alt="Accessories">
            </div>

        </div>
    {% else %}
        <div class="mt-5 text-muted">
            <p>Apasă pe buton pentru a genera o combinație unică.</p>
        </div>
    {% endif %}
</div>
{% endblock %}