{% extends "base.html" %}
{% block content %}

<section class="hero">
  <div class="hero-content">
    <h1>Create stunning outfits<br>and dress to impress</h1>
    <p>
      BusuStyle este asistentul tău zilnic de stil. Organizează-ți hainele,
      creează outfit-uri și inspiră-te în fiecare zi.
    </p>

    <div class="hero-actions">
      <a href="{{ url_for('register') }}" class="btn-primary">Începe acum</a>
      <a href="{{ url_for('login') }}" class="btn-secondary">Login</a>
    </div>
  </div>

  <div class="hero-mockup">
    <div class="phone-placeholder">
      <img src="{{ url_for('static', filename='uploads/image-removebg-preview.png') }}">
    </div>
  </div>
</section>

<section class="ratings">
  <h2>Rated 4.7 out of 5 ⭐</h2>
  <p class="muted">5000+ reviews</p>

  <div class="review-grid">
    <div class="review-card">
      ⭐⭐⭐⭐⭐
      <p>Dacă dulapul meu ar putea vorbi, ar spune mulțumesc. Busu mi-ai schimbat viața!</p>
      <span>— Catalin Morosanu</span>
    </div>
    <div class="review-card">
      ⭐⭐⭐⭐⭐
      <p>請給我們十個。</p>
      <span>— Chiky Chan</span>
    </div>
    <div class="review-card">
      ⭐⭐⭐⭐⭐
      <p>Nu m-a făcut fashion icon, dar măcar nu mai arăt ca un NPC.</p>
      <span>— Mark Zukerberg</span>
    </div>
  </div>
</section>

<section class="scroll-magic">

  <div class="magic-sticky">

    <div class="magic-text">
      <h2 id="magic-title"></h2>
      <p id="magic-desc"></p>
    </div>

    <div class="magic-phone">
      <div id="magic-phone-content">
        <img id="magic-phone-img" src="" alt="">
      </div>
    </div>

  </div>

</section>

<section class="why">
    <h2 class="text-center fw-semibold mb-5">
        De ce ai nevoie de BusuStyle la tine in viață?
    </h2>


  <div class="why-grid">
    <div class="why-card">
      <h4>Mai schimbă hainele!</h4>
      <p>Nu mai purta aceleași 3 tricouri și poate agăți și tu ceva. Găsește blugii ăia mișto că ți-i organizeaza șefa Neti și dă tap-tap la BusuMatrimoniale</p>
    </div>
    <div class="why-card">
      <h4>rm -rf /tricouriGratis</h4>
      <p>Tricourile cu glume de programator nu mai sunt la modă. Noi îți dăm soluția, tu doar te asiguri că nu le pui pe dos.</p>
    </div>
    <div class="why-card">
      <h4>Fă un duș!</h4>
      <p>Nu, nu merge trening cu sacou, nici transpirația cu tricou nou. Bravo ai stil, nu bravo ești bombardier</p>
    </div>
  </div>
</section>

<div style="height: 120px;"></div>


<script src="{{ url_for('static', filename='landing.js') }}"></script>
{% endblock %}
