{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='showroom.css') }}">

<script id="data-json" type="application/json">
{
  "top": {{ tops | tojson }},
  "bottom": {{ bottoms | tojson }},
  "shoes": {{ shoes | tojson }}
}
</script>

<script defer src="{{ url_for('static', filename='showroom.js') }}"></script>

<div class="showroom">

  <div class="left-panel">

    <div class="mannequin-zone">

      <div class="slot top-slot">
        <button class="arrow left" data-type="top">‹</button>
        <img id="top-img" class="item-img">
        <button class="arrow right" data-type="top">›</button>
      </div>

      <img class="mannequin" src="{{ url_for('static', filename='uploads/manechin.png') }}">

      <div class="slot bottom-slot">
        <button class="arrow left" data-type="bottom">‹</button>
        <img id="bottom-img" class="item-img">
        <button class="arrow right" data-type="bottom">›</button>
      </div>

      <div class="slot shoes-slot">
        <button class="arrow left" data-type="shoes">‹</button>
        <img id="shoes-img" class="item-img">
        <button class="arrow right" data-type="shoes">›</button>
      </div>

    </div>
  </div>

<div class="right-panel">

    <div class="right-top">
      <h3>Outerwear</h3>

      {% if outerwear %}
        <div class="list">
          {% for i in outerwear %}
            {% if i.image_filename %}
              <img class="side-item selectable outerwear-item"
                  data-id="{{ i.id }}"
                  src="{{ url_for('static', filename='uploads/processed/' + i.image_filename) }}">
            {% else %}
              <div class="placeholder selectable outerwear-item"
                  data-id="{{ i.id }}">{{ i.subcategory }}</div>
            {% endif %}
          {% endfor %}
        </div>
        <p class="empty outerwear-empty" style="display:none;">Niciun outerwear</p>
      {% else %}
        <p class="empty">Niciun outerwear</p>
      {% endif %}
    </div>

    <div class="right-middle">
        <h3>Accessories</h3>
        {% if accessories %}
        <div class="list">
            {% for i in accessories %}
                {% if i.image_filename %}
                    <img class="side-item selectable accessory-item"
                         data-id="{{ i.id }}"
                         src="{{ url_for('static', filename='uploads/processed/' + i.image_filename) }}">
                {% else %}
                    <div class="placeholder selectable accessory-item"
                         data-id="{{ i.id }}">{{ i.subcategory }}</div>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
            <p class="empty">Niciun accesoriu</p>
        {% endif %}
    </div>


<div class="save-outfit-wrapper">
    <button id="save-outfit-btn">Save outfit</button>
</div>



</div>

{% endblock %}
